<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> <span translate="directives.sidebar.Dashboard"></span></a>
            </li>
            <li ui-sref-active="active" ng-class="{active: collapseVar==1}">
                <a  ng-click="check(1)" ui-sref="dashboard.users({page: 1, limit: 10})"><i class="fa fa-table fa-fw"></i> <span translate="directives.sidebar.Users"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active" ng-repeat="tax in taxonomies.optionValue">
                    <a ui-sref="dashboard.terms({ taxonomy: tax.name, page: 1, limit: 10 })"><i class="fa fa-cog fa-fw"></i> <span>{{ tax.label | translate }}</span></a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.settings"><i class="fa fa-cog fa-fw"></i> <span translate="directives.sidebar.Settings"></span></a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 
